.sandbox-container {
  display: flex;
  flex-flow: row wrap;
  width: 1024px;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.chart {
  margin: auto;
  height: 250px;
}

.title, h2 {
    color: #555;
    font-weight: 200;
    white-space: nowrap;
    margin-top: 20px;
    font: 32px/1.5em "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}

h2 {
  font: 24px "Helvetica Neue", Helvetica, sans-serif;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}